 * {
     margin: 0;
     padding: 0;
 }

 .nav {
     display: flex;
     justify-content: center;
     gap: 45%;
     padding-top: 3%;
 }

 nav ul {
     display: flex;
     flex-direction: row;
     gap: 5%;
     justify-content: space-between;
     list-style-type: none;
 }

 .nav a {
     text-decoration: none;
     color: rgb(255, 255, 255);
 }

 .div1 {
     padding-right: 11%;
 }

 .div2 {
     padding-top: 6%;
     color: black;
     font-size: large;
 }

 .but {
     padding-top: 5%;
 }

 .but button {
     padding: 2%;
     padding-left: 2%;
     padding-right: 2%;
     background-color: rgb(255, 74, 87);
     border: none;
 }

 #nav-items a {
     text-decoration: none;
     color: white;
 }

 #nav-contact a {
     color: black;

 }

 body {
     background-color: rgb(35, 38, 58);
 }

 .hero {
     width: 80%;
     /* height: 70vh; */
     padding-top: 10%;
     margin: auto;
 }

 .hero p {
     font-size: 20px;
     color: rgb(113, 113, 124);
 }

 .hero h1 {
     font-size: 50px;
 }

 .hero-button {
     color: black;
     background-color: black;
 }

 .header-1 h1 {
     color: rgba(255, 255, 255, 0.616);
 }

 .about-me img {
     padding-top: 10px;
     height: 80vh;
 }

 .about-section {
     width: 80%;
     margin: auto;
 }

 .hi-there {
     width: 50%;
     font-size: 15px;
     padding-top: 10%;
 }

 .hi-there h3 {
     color: rgb(255, 74, 87);
     /* padding-top: 15px; */
 }

 .hi-there-1 {
     border-bottom: 2px solid rgb(77, 74, 74);
     padding-bottom: 30px;
 }

 /* .hi-there-div2 {} */


 .personal-info {
     display: flex;
 }

 .skill-section h1 {
     text-align: center;
     padding-top: 30px;
     font-size: 50px;
 }

 .skill-container {
     display: flex;
     font-size: 15px;
     font-weight: 100%;
 }

 .line-skills {
     display: flex;
 }

 .line-education {
     display: flex;
 }

 .service-section h3 {
     font-size: 20px;
     color: whitesmoke;
     margin: auto;
 }

 .about-sec h3 {
     color: rgb(255, 74, 87);
 }

 .service-section {
     width: 80%;
     margin: auto;
     padding-top: 5%;
 }

 .service-section h1 {
     font-size: 25px;
     text-align: left;
 }

 .services-1 {
     font-size: 15px;
     text-align: left;
 }

 .six-container {
     padding-top: 3%;
 }

 .six-designs {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 40px;
     grid-row-gap: 40px;
     width: 80%;
     margin: auto;
 }

 .six-designs h3 {
     color: whitesmoke;
 }

 .motion {
     background-color: rgb(43, 45, 65);
     box-shadow: 0 3px 3px 0 rgb(0 0 0 / 0.1), 0 3px 3px -1px rgb(0 0 0 / 0.1);
     padding: 5%;
     height: 25vh;
 }

 .motion p {
     color: rgba(245, 245, 245, 0.582);
     font-size: 0.9rem;
 }

 .motion:hover {
     box-shadow: 0 7px 7px 0 rgb(0 0 0 / 0.1), 0 7px 7px -1px rgb(0 0 0 / 0.1)
 }

 .six-designs a {
     color: rgb(255, 74, 87);
 }

 .model-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 25px;
     grid-row-gap: 20px;
 }

 .six-models h3 {
     color: rgb(255, 74, 87);
     margin: auto;
 }

 .six-models {
     margin: auto;
 }

 .models-images img {
     height: 90vh;
     width: 100%;
 }

 .about-button h3 {
     font-size: 20px;
 }

 .about-button h1 {
     font-size: 20px;
 }

 .about-sec {
     margin: auto;
 }

 .form-button h4 {
     font-size: 30px;
     color: rgb(255, 74, 87);
 }

 .background-form {
     color: black;
 }


 .background-form input {
     color: black;
     padding: 10px;
 }

 .background h3 {
     color: red;
 }

 .footer-section {
     display: flex;
     /* justify-content: space-evenly; */
     padding-top: 5%;
 }

 .footer-section img {
     width: 90%;
     height: 4vh;

 }

 .social-media {
     display: flex;
     /* width: 40%; */
     justify-content: space-evenly;
 }

 /* .social-media p{
    margin-bottom: 40px;
 } */

 .stay-button button {
     padding: 2%;
     padding-left: 15px;
     background-color: rgb(255, 74, 87);
     border: none;
     height: 10px;
 }